// $base_url: '';
$base_url: '/assets/';
// $base_url: '';
// Fonts
//
// = Body font and body line height
$bfs: 10;
$blh: 10.5;
$font: 'Montserrat', sans-serif;
$font_caveat: 'Caveat', cursive;
// Colores corporativos
//
// = Primary colors
$primary_1: #F7A700;
$primary_2: #383D43;
$primary_3: #016BA9;
$primary_4: #A50771;
$primary_5: #1F8978;
